.header__structure, .header {
  width: 1600px;
  height: 80px;
  display: flex;
}

.header__logo {
  color: #2196F3;
  font-size: 26px;
  padding-left: 215px;
  margin-top: 25px;
}
.header__list {
  display: flex;
  list-style: none;
  margin-left: 93px;
  margin-top: 32px;
}
.header__list__son {
  margin-left: 50px;
  text-decoration: none;
  color: black;
}
.header__list__son:hover {
  color: #2196F3;
}

.contacts {
  display: flex;
  padding-top: 23px;
  padding-left: 453px;
}
.contacts__svg {
  position: relative;
  top: 5px;
  margin-right: 5px;
}
.contacts__hover {
  color: black;
  text-decoration: none;
}
.contacts__hover:hover {
  color: #2196F3;
}

.box__one {
  width: 1600px;
  height: 600px;
  top: 80px;
  background-image: url(../image/img/equipo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: contain;
}
.box__one__title {
  padding: 200px 452px 280px 452px;
  color: #FFFFFF;
  font-size: 44px;
}
.box__one__button {
  position: relative;
  border-radius: 4px;
  border: 0px;
  right: 701px;
  bottom: 250px;
  left: 702px;
  height: 50px;
  width: 200px;
  font-size: 16px;
  background-color: #2196F3;
}

.structure-svg {
  width: 1600px;
  height: 250px;
  display: flex;
}
.structure-svg__box {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin: 30px;
  padding: 20px;
  position: relative;
  left: 50px;
  top: 40px;
}
.structure-svg__svg {
  position: relative;
  top: 25px;
  left: 100px;
}

.list-svg {
  width: 1450px;
  display: flex;
  list-style: none;
  position: relative;
  bottom: 50px;
}
.list-svg__son {
  margin-left: 50px;
}

.services__titles {
  font-size: 32px;
  text-align: center;
  max-width: 1600px;
}

.services {
  display: flex;
  position: relative;
  left: 155px;
}
.services__box {
  margin: 30px;
}
.services__secundary__box {
  width: 370px;
  height: 68px;
  background: rgba(47, 48, 58, 0.8);
  position: relative;
  bottom: 90px;
}
.services__text {
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 20px;
}

.workteam {
  display: flex;
  height: 700px;
  width: 1600px;
  background-color: #F5F4FA;
}
.workteam__title {
  position: relative;
  left: 680px;
  font-size: 36px;
}
.workteam__box {
  position: relative;
  top: 186px;
  right: 120px;
  margin: 30px;
  background-color: #FFFFFF;
  width: 270px;
  height: 450px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.workteam__text {
  text-align: center;
}
.workteam__svg {
  margin: 10px;
  position: relative;
  left: 25px;
  fill: #AFB1B8;
}
.workteam__svg:hover {
  background-color: #2196F3;
  padding: 10px;
  border-radius: 50%;
}

.customers {
  width: 1600px;
  height: 400px;
  display: flex;
}
.customers__title {
  width: 250px;
  font-size: 30px;
  position: relative;
  left: 670px;
  top: 70px;
}
.customers__box {
  width: 170px;
  height: 92px;
  border: 2px solid #AFB1B8;
  border-radius: 4px;
  margin: 30px;
  position: relative;
  top: 170px;
  right: 130px;
}
.customers__box:hover {
  color: #2196F3;
  background-color: #2196F3;
}
.customers__svg {
  position: relative;
  left: 30px;
  top: 13px;
}
.customers__svg:hover {
  color: #2196F3;
  background-color: #2196F3;
}

.footer {
  height: 200px;
  width: 1600px;
  background-color: rgb(47, 48, 58);
}
.footer__list {
  padding-right: 100px;
  list-style: none;
  position: relative;
  left: 75px;
  top: 50px;
}
.footer__title {
  color: #2196F3;
}
.footer__list__color {
  color: white;
}
.footer__primary-box {
  position: relative;
  left: 550px;
  bottom: 70px;
}
.footer__secundary-title {
  font-size: 20px;
  color: #FFFFFF;
}
.footer__svg-one {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: rgba(218, 34, 34, 0.1);
}
.footer__svg-one:hover {
  fill: #2196F3;
  background-color: #2196F3;
}

.button {
  text-align: center;
  position: relative;
  top: 174px;
  left: 70px;
  max-width: 1600px;
}
.button__list {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 130px;
  height: 28px;
  margin-left: 8px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #F5F4FA;
}
.button__list:hover {
  background-color: #2196F3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list {
  max-height: 1360px;
  max-width: 1170px;
  position: relative;
  left: 300px;
  bottom: 1050px;
}
.list__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 140px;
  padding-top: 50px;
  list-style: none;
  max-width: 1170px;
}
.list__item {
  margin: 30px 0 30px 30px;
}

.animation {
  height: 1160px;
  width: 970px;
  position: relative;
  left: 395px;
  top: 200px;
  display: flex;
  flex-wrap: wrap;
}
.animation__box-one {
  width: 245px;
  height: 110px;
  background-color: rgb(255, 255, 255);
  margin: 30px 0 30px 30px;
  position: relative;
  top: 160px;
  left: 48px;
  border: 1px solid rgb(238, 238, 238);
}
.animation__box {
  width: 250px;
  height: 110px;
  background-color: rgb(255, 255, 255);
  margin: 30px 0 30px 30px;
  position: relative;
  top: 130px;
  left: 42px;
  border: 1px solid rgb(238, 238, 238);
}

.main {
  max-height: 1300px;
  max-width: 100%;
}/*# sourceMappingURL=main.css.map */